services:

  mo_smtp:
    build: .
    command: [ "uvicorn", "--factory", "mo_smtp.app:create_app", "--host", "0.0.0.0", "--reload"]

    volumes:
      - ./mo_smtp:/app/mo_smtp
    networks:
      - default
      - os2mo_default
    environment:
      FASTRAMQPI__LOG_LEVEL: "INFO"
      FASTRAMQPI__JSON_LOGS: False

      FASTRAMQPI__MO_URL: "http://mo:5000"
      FASTRAMQPI__CLIENT_ID: "dipex"
      FASTRAMQPI__CLIENT_SECRET: "603f1c82-d012-4d04-9382-dbe659c533fb"
      FASTRAMQPI__AUTH_SERVER: "http://keycloak:8080/auth"
      FASTRAMQPI__AUTH_REALM: "mo"
      FASTRAMQPI__AMQP__URL: "amqp://guest:guest@msg-broker:5672/"
      # Database
      FASTRAMQPI__DATABASE__USER: "fastramqpi"
      FASTRAMQPI__DATABASE__PASSWORD: "fastramqpi"
      FASTRAMQPI__DATABASE__HOST: "db"
      FASTRAMQPI__DATABASE__NAME: "fastramqpi"

      EMAIL_SETTINGS__INTERVAL: 30
      EMAIL_SETTINGS__SENDER: "os2mo@magenta.dk"
      EMAIL_SETTINGS__SMTP_PORT: 1025
      EMAIL_SETTINGS__SMTP_HOST: "mailcatcher"
      EMAIL_SETTINGS__SMTP_SECURITY: "none"
      EMAIL_SETTINGS__DRY_RUN: True

      ACTIVE_AGENTS: '["inform_manager_on_employee_address_creation", "alert_on_manager_removal","alert_on_org_unit_without_relation","alert_on_rolebinding","alert_on_ituser"]'
      RECEIVERS: '["test@example.dk"]'
      ROOT_LOEN_ORG: "fb2d158f-114e-5f67-8365-2c520cf10b58"
      ALERT_MANAGER_REMOVAL_USE_ORG_UNIT_EMAILS: "true"

    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"

  mailcatcher:
    restart: on-failure
    image: dockage/mailcatcher:0.8.2
    ports:
    - "1080:1080"
    - "1025:1025"
    networks:
      - os2mo_default

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: "fastramqpi"
      POSTGRES_PASSWORD: "fastramqpi"
      POSTGRES_DB: "fastramqpi"

networks:
  os2mo_default:
    external: true
